<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	
	<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	
	<script>
			
		function onSubmitted(event,form){
			
			event.preventDefault(); 
			
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			//$(document).ajaxSend로 진행해야지 문제가 없음
			$(document).ajaxSend(function(e, xhr, opt) {xhr.setRequestHeader(header, token);});
				
			
			$.ajax({
				
				//beforeSend:	function(xhr) {xhr.setRequestHeader(header, token);},
				url:"/login-action",
				type:"post",
				data: $(form).serialize(),
				success:function(){
					console.log("로그인성공");
				}
			
			});
		}
		
	</script>
		
</head>

<body>
	<h1>로그인페이지</h1>
	
	<div >
		<a href="/"><h1>Home</h1></a>			
	</div>
	<div class="msg" th:if="${param.signup}">
		<span>회원가입을 환영합니다.<br>로그인 후 이용하세요</span>
	</div>
		
<!--	<form action="/login-action" method="post" onsubmit="onSubmitted(event,this)" >-->
	<form action="/login-action" method="post" >
		
		<!--usernameParameter와 일치해야해요 defaultis username-->
		<p>
			
			<input type="text" name="email" placeholder="이메일" />
		</p>

		
		<!--usernameParameter와 일치해야해요 defaultis password-->
		<p>
			
			<input type="password" name="pass" placeholder="비밀번호" />
		</p>

		<p>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button>로그인</button>
		</p>
	</form>
	
	<div sec:authorize="isAnonymous()">
			<a href="/signup">회원가입</a>
				
	</div>

</body>

</html>